## DEPENDENCIES ######################################################
node_modules

## LOGS ##############################################################
*.log

## GENERATED #########################################################
.cache
.nuxt
.svelte-kit
.sanity
src/.temp
build
dist
sw.*

## SECRETS ###########################################################
.env
.env.*
.netlify
