## DEPENDENCIES ######################################################
node_modules

## LOGS ##############################################################
*.log

## GENERATED #########################################################
.cache
.nuxt
.svelte-kit
.sanity
src/.temp
build
dist
!actions/**/dist
sw.*
schema.json
www/src/lib/sanity/types.ts

## SECRETS ###########################################################
.env
.env.*
.netlify
studio/imports
