# DEPENDENCIES ========================================================
node_modules

# LOGS ================================================================
*.log

# GENERATED ===========================================================
.cache
.nuxt
src/.temp
dist
sw.*

# SECRETS =============================================================
.env
.env.*
