@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: 'Antenna';
		font-weight: 700;
		src: url(/fonts/antenna-bold.woff2) format('woff2');
		font-display: swap;
	}
}

@layer utilities {
	.pull-double { margin-right: 0.4em; }
	.push-double { margin-left: -0.4em; }
}
