@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Antenna';
        font-weight: 700;
        src: url(/fonts/antenna-bold.woff2) format('woff2');
        font-display: swap;
    }
}
