@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	/**
	 * 1. Prevent scrolling content when a dialog is open.
	 */
	html {
		scrollbar-gutter: stable;

		&:has(dialog[open]) {
			overflow: hidden; /* [1] */
		}
	}

	a {
		text-decoration-color: transparent;
		border-radius: 1px;

		/**
		 * @todo Change colour value to custom property.
		 */
		&:focus-visible {
			outline: oklch(78.2% 0.177 219.6deg) solid 2px;
			outline-offset: 2px;
			box-decoration-break: clone;
		}

		@media (hover: hover) {
			&:hover {
				text-decoration-color: inherit;
			}
		}
	}

	@font-face {
		font-family: Antenna;
		font-style: normal;
		font-weight: 700;
		src: url("/fonts/antenna-bold.woff2") format("woff2");
		font-display: swap;
	}

	@font-face {
		font-family: Inter;
		font-style: normal;
		font-weight: 100 900;
		/* stylelint-disable-next-line property-no-unknown */
		font-named-instance: "Regular";
		src: url("/fonts/inter-roman.var.woff2?v=3.19") format("woff2");
		font-display: swap;
	}

	/**
	 * 1. Manually eyballed these numbers to balance with Inter.  Not sure if
	 *    they make much difference.
	 */
	@font-face {
		font-family: Newsreader;
		font-style: italic;
		font-weight: 100 900;
		/* stylelint-disable-next-line property-no-unknown */
		font-named-instance: "Italic";
		src: url("/fonts/newsreader-italic.woff2") format("woff2");
		font-display: swap;
		size-adjust: 125%;
		ascent-override: 87%; /* [1] */
		descent-override: 22%; /* [1] */
	}

	@font-face {
		font-family: MonoLisa;
		font-style: normal;
		font-weight: 400;
		src: url("/fonts/monolisa.woff2") format("woff2");
		font-display: swap;
	}

	@font-face {
		font-family: MonoLisa;
		font-style: normal;
		font-weight: 500;
		src: url("/fonts/monolisa-medium.woff2") format("woff2");
		font-display: swap;
	}

	/** 192 is minimum width of aside column. */
	@container prose (min-width: calc(65ch + 192px + 40px)) {
		aside {
			position: absolute;
			inset-inline-start: calc(65ch + 40px);
			max-inline-size: 25%;
		}
	}
}

.pull-double {
	margin-inline-end: 0.4em;
}

.push-double {
	margin-inline-start: -0.4em;
}
